<!-- <div class="container-fluid bg-primary">
    <div class="row">
        <div class="col">
            <h2>Hello</h2>
        </div>
    </div>
</div>

<h2>Hello</h2> -->

<!--
<a routerLink="/body">body</a><br>
<a routerLink="/navbar">navbar</a><br> -->
<main>
  <nav class="navbar sticky-top navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Phatak Status</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="me-auto"></div>
          <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/About" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Contact" routerLinkActive="active">Contact</a>
            </li>
          </ul>
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
  </nav>


  <div class="container">
    <router-outlet></router-outlet>
    <!-- <script>
    </script> -->
  </div>
</main>



