::ng-deep :root {
  --theme-color: #048d58;
}

.btn-outline-primary {
  color: #048d58;
  border-color: #048d58;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #048d58;
  border-color: #048d58;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
  box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #027e4e;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #048d58;
  border-color: #048d58;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  /* color: #048d58; */
  -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.6);
  box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.6);
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #169e6a;
  border-color: #048d58;
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
  box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #68f3be;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #aafcdd;
  border-color: #aafcdd;
}

.custom-control-input[disabled] ~ .custom-control-label,
.custom-control-input:disabled ~ .custom-control-label {
  color: #5d746b;
}

.custom-control-input[disabled] ~ .custom-control-label::before,
.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9f0ee;
}

.form-control:focus {
  color: #495057;
  background-color: rgba(255, 255, 255, 0.219);
  border-color: #54d1a1;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(2, 175, 80, 0.418);
  box-shadow: 0 0 0 0.2rem rgba(2, 175, 80, 0.418);
}

.form-select:focus {
  border-color: #54d1a1;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(2, 175, 80, 0.418);
  box-shadow: 0 0 0 0.2rem rgba(2, 175, 80, 0.418);
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.was-validated .form-select:invalid, .form-select.is-invalid {
  border-color: #dc3545;
}

.was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"], .form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"] {
  padding-right: 4.125rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-position: right 0.75rem center, center right 2.25rem;
  background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-select:invalid:focus, .form-select.is-invalid:focus {
  border-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.was-validated .form-check-input:invalid, .form-check-input.is-invalid {
  border-color: #dc3545;
}

.was-validated .form-check-input:invalid:checked, .form-check-input.is-invalid:checked {
  background-color: #dc3545;
}

.was-validated .form-check-input:invalid:focus, .form-check-input.is-invalid:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #dc3545;
}






main{
  -ms-user-select: none !important;
      user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  opacity: 0;
}

main.fade-in {
  animation: fadeIn ease 1.3s forwards 0.1s;
  -webkit-animation: fadeIn ease 1.3s forwards 0.1s;
  -moz-animation: fadeIn ease 1.3s forwards 0.1s;
  -o-animation: fadeIn ease 1.3s forwards 0.1s;
  -ms-animation: fadeIn ease 1.3s forwards 0.1s;
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeout {
from { opacity: 1; }
to   { opacity: 0;}
}

@keyframes fadeout {
from { opacity: 1; }
to   { opacity: 0;}
}

.nav-link.active{
  font-weight: 600;
}
.navbar-brand{
  font-family: 'Pacifico';
}

.navbar{
  -webkit-box-shadow: 0px 0px 8px 3px rgba(227,227,227,0.87);
box-shadow: 0px 0px 8px 3px rgba(227,227,227,0.87);
}

.navbar-expand-lg .navbar-nav{
  gap: 6px;
}

.splash_screen{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.contain{
  opacity: 0;
}
.contain.fade-in {
  -webkit-animation: fadeIn ease 1.2s 500ms forwards;
  animation: fadeIn ease 1.2s 500ms forwards;
}
.contain.fade-out{
  -webkit-animation: fadeout 1s ease-in-out forwards;
          animation: fadeout 1s ease-in-out forwards;
}


.app-name{
  font-family: 'Pacifico';
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
  color: rgba(48, 48, 48, 0.973);
}

.heading{
  /* font-family: 'Uncial Antiqua', cursive; */
  font-family: 'Fredoka One', cursive;
  /* font-weight: 500; */
  text-transform: uppercase;
  font-size: 27px;
  text-align: center;
  color: rgb(0, 129, 50);
}

.admin-illustration{
  width: 300px;
  height: 300px;
  /* object-fit: cover; */
}

.content-hidden{
  content-visibility: hidden;
  display: none;
}
