/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Comic Sans MS';
  src: url('./assets/Fonts/ComicSansMS_font.ttf') format("truetype");
}
/* @font-face {
  font-family: 'Lato';
  src: url('./assets/Fonts/Lato-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Merriweather';
  src: url('./assets/Fonts/Merriweather-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Pacifico';
  src: url('.//assets/Fonts/Pacifico-Regular.ttf') format("truetype");
} */
/* @font-face {
  font-family: 'Raleway';
  src: url('//src/assets/Fonts/Raleway-Regular.ttf') format("truetype");
} */

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}
.container{
  overflow-x: hidden !important;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #e9e9e9;
  /* background: transparent; */
}
::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
  /* background: rgb(53, 160, 98); */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 155, 155);
  /* background: rgb(75, 119, 84); */
}

.btn-close{
  top: 15px;
  right: 15px;
  width: 0.5em;
  height: 0.5em;
  position: absolute;
}

.modal-body .inner-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.modal-erorr{
  color: #f32424;
  font-family: 'pacifico', cursive;
  font-size: 25px;
}

.modal-errorInfo{
  text-align: center;
}

.modal-footer{
  justify-content: center !important;
}

.modal-footer .btn{
  padding-left: 30px;
  padding-right: 30px;
}
