.btn-outline-primary {
    color: #048d58;
    border-color: #048d58;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #048d58;
    border-color: #048d58;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
    box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #027e4e;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #048d58;
    border-color: #048d58;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    /* color: #048d58; */
    -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.6);
    box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.6);
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #169e6a;
    border-color: #048d58;
}

.custom-control-input:focus ~ .custom-control-label::before {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
    box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #68f3be;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #aafcdd;
    border-color: #aafcdd;
}

.custom-control-input[disabled] ~ .custom-control-label,
.custom-control-input:disabled ~ .custom-control-label {
    color: #5d746b;
}

.custom-control-input[disabled] ~ .custom-control-label::before,
.custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #e9f0ee;
}



.form-control:focus {
    color: #495057;
    background-color: rgba(255, 255, 255, 0.219);
    border-color: #54d1a1;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(2, 175, 80, 0.418);
}
  




.align-center {
    margin: 20px auto;
    text-align: -webkit-center;
    text-align-last: left;
}

.card-title {
    align-self: center;
    font-family: pacifico;
    font-size: 25px;
    color: rgb(59, 59, 59);
}

.form-card {
    width: 50%;
    min-width: 340px;
    -webkit-box-shadow: 0px 0px 20px 1px rgb(218, 218, 218);
    -moz-box-shadow: 0px 0px 20px 1px rgb(218, 218, 218);
    box-shadow: 0px 0px 15px 1px rgb(218, 218, 218);
    border: none;
    margin-top: 40px;
    border-radius: 20px;
    padding: 30px;
}

.form-card svg {
    color: rgb(134, 134, 134);
}

.my-pd {
    padding: 0.135rem 0.6243rem;
}

.prefix-inp {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    user-select: none;
}

#inchargePhone {
    padding-left: 40px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.btn {
    width: fit-content;
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;
}
